.flex {
  display: flex;
}

.flex-i {
  display: flex !important;
}

.flex.space-between-i {
  justify-content: space-between !important;
}

.left {
  float: left;
}

.field.mdl-field {
    padding: 20px 0px;
}

.mdl-field {
    position: relative;
    font-size: 16px;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 20px 0px;
    overflow: hidden;
    border: 1px solid #ccc;
    height: 55px;
    border-bottom: 3px solid #ccc;
}

.is-focused.mdl-field .mdl-label {
    color: #5867dd;
    font-size: 12px;
    top: 6px;
    visibility: visible;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.3, 0, 0.2, 1);
}

.field.mdl-field label {
    left: 15px;
}

.mdl-label {
    bottom: 0;
    color: rgba(0, 0, 0, 0.26);
    font-size: 16px;
    left: 0;
    right: 0;
    pointer-events: none;
    position: absolute;
    display: block;
    top: 15px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.3, 0, 0.2, 1);
}

.is-focused .mdl-input {
    border-bottom: 0px;
}

.mdl-input {
    border: none;
    border-bottom: 0;
    display: block;
    font-size: 14px;
    margin: 0;
    padding: 4px 15px;
    width: 100%;
    background: none;
    text-align: left;
    color: inherit;
}

a:hover {
  text-decoration: none !important;
}

.o-hidden {
    overflow: hidden;
}

.flex.row-wrap {
    display: flex;
    flex-flow: row wrap;
}

.space-between {
    justify-content: space-between;
}

.right {
  float: right;
}

.right-i {
  float: right !important;
}

body .modal {
  z-index: 999999;
}

.two.fields .mdl-field-select label {
  display: none;
}

.two.fields .field.mdl-field {
  padding: 20px 7.5px;
  width: calc(100% - 30px);
  margin: 4px
}

.two.fields .field.mdl-field label {
  left: 7.5px;
}

.two.fields select {
  margin-top: -13px;
}

.two.fields {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
}

body .pagination {
  display: flex;
  border-left: 1px solid #ccc;
}

.pagination li {
  list-style: none;
}

.pagination li a, .pagination li.active, .pagination li.disabled {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #0275d8;
    background-color: #fff;
    border: 1px solid #ddd;
}

body .pagination li.active {
  color: #666;
}

.box {
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    padding: 15px;
    position: relative;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 13px;
}

.myflex * {
  width: 100%;
}

.myForm-group .form-control {
    border: 0 !important;
    background: transparent !important;
    outline: none !important;
    height: auto;
    padding: 5px 10px;
    color: #6f6486;
    position: relative;
    bottom: 0;
    margin-top: 20px !important;
}

.myForm-group select {
    height: auto !important;
}

.form-group.myForm-group {
    border: 1px solid #ccc;
    height: 55px;
    position: relative;
    border-bottom: 3px solid #ccc;
    overflow: hidden;
    width: 100%;
}

.myForm-group.is-focused label {
    top: 8px;
    font-size: 11px;
    color: #716aca;
}

.myForm-group label {
    position: absolute;
    line-height: 1;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(.3,0,.2,1);
    left: 15px;
    font-weight: 500;
    top: 18px;
}

.myForm-group select {
    height: auto !important;
}

.wrap-bw .two.fields .field.mdl-field {
  margin: 0px;
}

.wrap-bw {
  padding: 0px 5px;
}

.two.fields .field.mdl-field .mdl-input {
  padding: 0px;
}
